<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--     	<property name="hibernate.session_factory_name">java:/hibernate/session_factory</property> -->
<!--     	<property name="hibernate.connection.datasource">java:jdbc/OracleDB/prd/meeting</property> -->
<!--     	<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property> -->
<!--     	<property name="jta.UserTransaction">UserTransaction</property> -->
<!-- 		<property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property> -->
<!-- 		<property name="connection.charSet">tis620</property> -->
<!-- 		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property> -->
<!-- 		<property name="current_session_context_class">jta</property> -->
<!-- 		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->

<!-- 		<property name="javax.persistence.validation.mode">none</property> -->
<!-- 		<property name="hibernate.hbm2ddl.auto">create</property> -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://172.16.72.137:3306/acmesys</property>
		<property name="hibernate.connection.username">acmesys</property>
		<property name="hibernate.connection.password">acmesys</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="hibernate.show_sql">true</property>
<!-- 		<property name="hibernate.format_sql">true</property> -->
<!-- 		<property name="use_sql_comments">true</property> -->
		
		<mapping class="th.co.acmesys.domain.AccountCode"/>
		<mapping class="th.co.acmesys.domain.ApprovalBudgetDetail"/>
		<mapping class="th.co.acmesys.domain.ApprovalBudget"/>
		<mapping class="th.co.acmesys.domain.ApprovalProcessDetail"/>
		<mapping class="th.co.acmesys.domain.ApprovalProcess"/>
		<mapping class="th.co.acmesys.domain.ApprovalTeamDetail"/>
		<mapping class="th.co.acmesys.domain.ApprovalTeam"/>
		<mapping class="th.co.acmesys.domain.Brand"/>
		<mapping class="th.co.acmesys.domain.CostCenterCode"/>
		<mapping class="th.co.acmesys.domain.Country"/>
		<mapping class="th.co.acmesys.domain.Department"/>
		<mapping class="th.co.acmesys.domain.OrganizationGroup"/>
		<mapping class="th.co.acmesys.domain.Organization"/>
		<mapping class="th.co.acmesys.domain.PODetail"/>
		<mapping class="th.co.acmesys.domain.POMain"/>
		<mapping class="th.co.acmesys.domain.Position"/>
		<mapping class="th.co.acmesys.domain.PRDetail"/>
		<mapping class="th.co.acmesys.domain.PricingProcess"/>
		<mapping class="th.co.acmesys.domain.PRMain"/>
		<mapping class="th.co.acmesys.domain.ProductCategory"/>
		<mapping class="th.co.acmesys.domain.ProductConversion"/>
		<mapping class="th.co.acmesys.domain.ProductGroup"/>
		<mapping class="th.co.acmesys.domain.ProductProperty"/>
		<mapping class="th.co.acmesys.domain.ProductSetDetail"/>
		<mapping class="th.co.acmesys.domain.ProductSetMain"/>
		<mapping class="th.co.acmesys.domain.ProductSubCategory"/>
		<mapping class="th.co.acmesys.domain.Province"/>
		<mapping class="th.co.acmesys.domain.Question"/>
		<mapping class="th.co.acmesys.domain.ReceivingDetail"/>
		<mapping class="th.co.acmesys.domain.ReceivingMain"/>
		<mapping class="th.co.acmesys.domain.Signature"/>
		<mapping class="th.co.acmesys.domain.Title"/>
		<mapping class="th.co.acmesys.domain.UnitCount"/>
		<mapping class="th.co.acmesys.domain.User"/>
		
	</session-factory>
</hibernate-configuration>
